@font-face {
    font-family: "Almarai-Bold";
    src: url("/fonts/Almarai-Bold.ttf");
}

@font-face {
    font-family: "Almarai-ExtraBold";
    src: url("/fonts/Almarai-ExtraBold.ttf");
}

.main-menu-button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-pref-height: 106;
    -fx-pref-width: 340;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 48px;
    -fx-text-alignment: center;
    -fx-text-overrun: CLIP;
}

.main-menu-button:hover {
    -fx-background-color: #a1a100;
}

.sidebar-button-active {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-pref-height: 70;
    -fx-pref-width: 250;
    -fx-background-radius: 30px;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 32px;
    -fx-font-smoothing-type: gray;
}

.sidebar-button-active:hover {
    -fx-background-color: #a1a100;
}

/* muligens noe sånt?
.button:hover .text {
    -fx-font-family: "Almarai ExtraBold";
}
*/

