@font-face {
    font-family: "Almarai-Bold";
    src: url("/fonts/Almarai-Bold.ttf");
}

@font-face {
    font-family: "Almarai-ExtraBold";
    src: url("/fonts/Almarai-ExtraBold.ttf");
}

.main-menu-button {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-pref-height: 106;
    -fx-pref-width: 340;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 48px;
    -fx-text-alignment: center;
    -fx-text-overrun: CLIP;
}

.main-menu-button:hover {
    -fx-background-color: #a1a100;
}

.sidebar-button:selected {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-pref-height: 70;
    -fx-pref-width: 240;
    -fx-background-radius: 30px;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 26px;
    -fx-font-smoothing-type: gray;
    -fx-text-alignment: left;
}

.sidebar-button:selected:hover {
    -fx-background-color: #a1a100;
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-height: 70;
    -fx-pref-width: 240;
    -fx-background-radius: 30px;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 26px;
    -fx-font-smoothing-type: gray;
    -fx-text-alignment: left;
}

.sidebar-button .ikonli-font-icon {
    -fx-fill: white;
    -fx-stroke: white;
}

.sidebar-button:selected .ikonli-font-icon {
    -fx-fill: black;
    -fx-stroke: black
}

.sidebar-button:hover {
    -fx-background-color: #505050;
}

.ikonli-font-icon {
    -fx-fill: black;
    -fx-stroke: black;
}

