/* =====================================================
   TRADE PANEL BUTTONS
 ===================================================== */

.trade-panel-mode-button {
    -fx-background-color: -color-surface-light;
    -fx-background-radius: 15px;
    -fx-pref-height: 38px;
    -fx-max-height: 38px;
    -fx-min-height: 38px;
    -fx-pref-width: 153px;
    -fx-min-width: 153px;
    -fx-max-width: 153px;
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 20px;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.trade-panel-mode-button:hover {
    -fx-border-color: -color-yellow;
    -fx-background-radius: 15px;
}

.trade-panel-leverage-button {
    -fx-background-color: -color-surface-light;
    -fx-background-radius: 15px;
    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-min-height: 52px;
    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 15px;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.trade-panel-leverage-button:hover {
    -fx-border-color: -color-yellow;
    -fx-background-radius: 15px;
}

.trade-panel-buy-button {
    -fx-background-color: -color-green;
    -fx-background-radius: 70px;
    -fx-pref-height: 70px;
    -fx-max-height: 70px;
    -fx-min-height: 70px;
    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;
    -fx-text-fill: -color-text-dark;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 32px;
    -fx-font-weight: 500;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.trade-panel-buy-button:hover {
    -fx-background-color: -color-green-hover;
}

.trade-panel-buy-button:armed {
    -fx-background-color: -color-green-pressed;
}

.trade-panel-sell-button {
    -fx-background-color: -color-red;
    -fx-background-radius: 70px;
    -fx-pref-height: 70px;
    -fx-max-height: 70px;
    -fx-min-height: 70px;
    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;
    -fx-text-fill: -color-text-dark;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 32px;
    -fx-font-weight: 500;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.trade-panel-sell-button:hover {
    -fx-background-color: -color-red-hover;
}

.trade-panel-sell-button:armed {
    -fx-background-color: -color-red-pressed;
}

.trade-panel-selected {
    -fx-background-color: -color-yellow;
    -fx-text-fill: -color-text-dark;
}

/* =====================================================
   MAIN MENU BUTTON
 ===================================================== */

.main-menu-button {
    -fx-background-color: #F6DA36;
    -fx-text-fill: black;
    -fx-pref-height: 106;
    -fx-pref-width: 340;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 48px;
    -fx-text-alignment: center;
    -fx-text-overrun: CLIP;
}

.main-menu-button:hover {
    -fx-background-color: #a1a100;
}

/* =====================================================
   DASHBOARD ACTION BUTTONS
 ===================================================== */

.dashboard-view-button {
    -fx-font-family: "Almarai Bold";
    -fx-text-fill: -color-yellow;
    -fx-font-size: 24px;
    -fx-background-color: transparent;
}

.dashboard-view-button:hover {
    -fx-text-fill: -color-yellow-hover;
}

.dashboard-view-button .ikonli-font-icon {
    -fx-fill: -color-yellow;
    -fx-stroke: -color-yellow;
}

.dashboard-view-button:hover .ikonli-font-icon {
    -fx-fill: -color-yellow-hover;
    -fx-stroke: -color-yellow-hover;
}

