/* ===================
    GLOBAL
 ===================*/
.page-title {
    -fx-text-fill: -color-yellow;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 64px;
    -fx-font-weight: 700;
}

.section-title {
    -fx-text-fill: white;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 32px;
}

.body-text {
    -fx-text-fill: white;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.negative-price-change {
    -fx-text-fill: -color-red;
}

.positive-price-change {
    -fx-text-fill: -color-green;
}

.card {
    -fx-background-color: -color-surface;
    -fx-background-radius: 30px;
    -fx-border-color: -color-border;
    -fx-border-radius:  30px;
    -fx-border-width: 2px;
}

.surface {
    -fx-background-color: -color-surface-light;
    -fx-background-radius: 30px;
}

.button {
    -fx-cursor: hand;
}

.toggle-button  {
    -fx-cursor: hand;
}