/* ===================
     App Components
 ===================*/

/* Trade-panel */
.trade-panel {
    -fx-pref-height: 558px;
    -fx-max-height: 558px;
    -fx-min-height: 558px;

    -fx-pref-width: 368px;
    -fx-min-width: 368px;
    -fx-max-width: 368px;

    -fx-spacing: 17px;
}

.trade-panel-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.trade-panel-cash {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 36px;
}

.trade-panel-cashbox {
    -fx-pref-height: 91px;
    -fx-pref-width: 322px;

    -fx-max-width: 322px;
    -fx-max-height: 91px;

    -fx-padding: 0 0 0 20;
}

.trade-panel-mode-button {
    -fx-background-color: -color-surface-light;
    -fx-background-radius: 15px;

    -fx-pref-height: 38px;
    -fx-max-height: 38px;
    -fx-min-height: 38px;

    -fx-pref-width: 153px;
    -fx-min-width: 153px;
    -fx-max-width: 153px;

    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 20px;
    -fx-padding: 0;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.trade-panel-mode-button:hover {
    -fx-border-color: -color-yellow;
    -fx-background-radius: 15px;
}

.trade-panel-input{
    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-min-height: 52px;

    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;

    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20;
}

.trade-panel-estimate {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
    -fx-padding: 0 0 0 20;
}

.trade-panel-row {
    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-min-height: 52px;

    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;
}

.trade-panel-row-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
    -fx-padding: 0 20 0 0;
}

.trading-panel-lev-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.trade-panel-leverage-button {
    -fx-background-color: -color-surface-light;
    -fx-background-radius: 15px;

    -fx-pref-height: 52px;
    -fx-max-height: 52px;
    -fx-min-height: 52px;

    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;

    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 15px;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 15px;
}

.trade-panel-leverage-button:hover {
    -fx-border-color: -color-yellow;
    -fx-background-radius: 15px;
}

.trade-panel-buy-button {
    -fx-background-color: -color-green;
    -fx-background-radius: 70px;

    -fx-pref-height: 70px;
    -fx-max-height: 70px;
    -fx-min-height: 70px;

    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;

    -fx-text-fill: -color-text-dark;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 32px;
    -fx-font-weight: 500;
    -fx-padding: 0;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.trade-panel-buy-button:hover {
    -fx-background-color: -color-green-hover;
}

.trade-panel-buy-button:armed {
    -fx-background-color: -color-green-pressed;
}

.trade-panel-sell-button {
    -fx-background-color: -color-red;
    -fx-background-radius: 70px;

    -fx-pref-height: 70px;
    -fx-max-height: 70px;
    -fx-min-height: 70px;

    -fx-pref-width: 322px;
    -fx-min-width: 322px;
    -fx-max-width: 322px;

    -fx-text-fill: -color-text-dark;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 32px;
    -fx-font-weight: 500;
    -fx-padding: 0;

    -fx-border-color: transparent;
    -fx-border-width: 2px;
}

.trade-panel-sell-button:hover{
    -fx-background-color: -color-red-hover;
}

.trade-panel-sell-button:armed{
    -fx-background-color: -color-red-pressed;
}

.trade-panel-selected {
    -fx-background-color: -color-yellow;
    -fx-text-fill: -color-text-dark;
}


/* ===================
    StockSelectorCard styling
 ===================*/

.stock-selector-card {
    -fx-pref-height: 107px;
    -fx-max-height: 107px;
    -fx-min-height: 107px;

    -fx-pref-width: 368px;
    -fx-min-width: 368px;
    -fx-max-width: 368px;

    -fx-spacing: 25px;
    -fx-padding: 0 20px 0 20px;
}

.stock-selector-card:hover {
    -fx-border-color: -color-yellow;
}

.stock-selector-card-ticker-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 36px;

    -fx-padding: 0 0 2px 0;
}

.stock-selector-card-company-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;

    -fx-padding: 2px 0 0 0;
}

.stock-selector-card-price-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24px;

    -fx-padding: 0 0 2px 0;
}

.stock-selector-card-change-label {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;

    -fx-padding: 2px 0 0 0;
}

.stock-selector-card-content {
    -fx-min-width: 270px;
    -fx-max-width: 270px;

    -fx-min-height: 70px;
    -fx-max-height: 70px;
}

.stock-selector-card-row {
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}

.stock-selector-card-arrow {
    -fx-fill: -color-text;
    -fx-stroke: -color-text;
    -fx-stroke-width: 1px;

    -fx-icon-size: 22px;

    -fx-pref-width: 22px;
    -fx-pref-height: 22px;
}

/* ===================
    StockChartCard styling
 ===================*/

.stock-chart-card-large {
    -fx-pref-height: 830px;
    -fx-max-height: 830px;
    -fx-min-height: 830px;

    -fx-pref-width: 1000px;
    -fx-min-width: 1000px;
    -fx-max-width: 1000px;
}

.stock-chart-card-large .axis {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-tick-label-fill: -color-border-light;
    -fx-font-size: 14px;
    -fx-font-family: "Almarai Bold";
}

.stock-chart-card-small .axis {
    -fx-pref-height: 200px;
    -fx-max-height: 200px;
    -fx-min-height: 200px;

    -fx-pref-width: 640px;
    -fx-min-width: 640px;
    -fx-max-width: 640px;
}

.stock-chart-card-small .axis {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}


.chart-plot-background{
    -fx-background-color: -color-dark;
    -fx-background-radius: 30px;
}

.chart-series-line {
    -fx-stroke: -color-chart-stroke;
}


/* ===================
    SearchRow styling
 ===================*/
.search-row {
    -fx-pref-height: 115px;
    -fx-max-height: 115px;
    -fx-min-height: 115px;

    -fx-pref-width: 610px;
    -fx-min-width: 610px;
    -fx-max-width: 610px;
}

.search-row:hover {
    -fx-border-color: -color-yellow;
}

.search-row:selected {
    -fx-border-color: -color-yellow;
}

/* ===================
    Factory styling
 ===================*/
.factory-search-row-ticker {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 36px;
}

.factory-search-row-company {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai";
    -fx-font-size: 20px;
}

.factory-search-row-price {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai";
    -fx-font-size: 24px;
}

.factory-search-row-change {
    -fx-font-family: "Almarai";
    -fx-font-size: 20px;
}

.factory-search-row-change-percent {
    -fx-font-family: "Almarai";
    -fx-font-size: 20px;
}

.factory-search-row-arrow {
    -fx-fill: -color-text;
    -fx-stroke: -color-text;
    -fx-stroke-width: 1px;

    -fx-icon-size: 22px;

    -fx-pref-width: 22px;
    -fx-min-width: 22px;
    -fx-max-width: 22px;

    -fx-pref-height:22px;
    -fx-min-height: 22px;
    -fx-max-height: 22px;
}

/* Transaction Factory*/
.factory-search-row {

}

.factory-transaction-week {
    -fx-text-fill: -color-border-light;
    -fx-font-family: "Almarai";
    -fx-font-size: 24px;
}

.factory-transaction-week-count {
    -fx-text-fill: -color-border-light;
    -fx-font-family: "Almarai";
    -fx-font-size: 24px;
}

.factory-transaction-share-count {
    -fx-text-fill: -color-border-light;
    -fx-font-family: "Almarai";
    -fx-font-size: 24px;
}

.factory-transaction-status {
    -fx-pref-height: 43px;
    -fx-max-height: 43px;
    -fx-min-height: 43px;

    -fx-pref-width: 123px;
    -fx-min-width: 123px;
    -fx-max-width: 123px;

    -fx-border-width: 2px;
    -fx-border-radius: 30px;
}

.factory-transaction-status-icon {
    -fx-stroke-width: 1px;
    -fx-icon-size: 20px;

    -fx-pref-width: 20px;
    -fx-min-width: 20px;
    -fx-max-width: 20px;

    -fx-pref-height: 20px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}

.factory-transaction-status-label {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;

    -fx-pref-width: 63px;
    -fx-min-width: 63px;
    -fx-max-width: 63px;
}

.factory-transaction-status-sell {
    -fx-border-color: -color-red;
}

.factory-transaction-status-sell .factory-transaction-status-label {
    -fx-text-fill: -color-red;
}

.factory-transaction-status-sell .factory-transaction-status-icon {
    -fx-fill: -color-red;
    -fx-stroke: -color-red;
}

.factory-transaction-status-buy {
    -fx-border-color: -color-green;
}

.factory-transaction-status-buy .factory-transaction-status-label {
    -fx-text-fill: -color-green;
}

.factory-transaction-status-buy .factory-transaction-status-icon {
    -fx-fill: -color-green;
    -fx-stroke: -color-green;
}

.factory-stat-card {
    -fx-pref-width: 290px;
    -fx-min-width: 290px;
    -fx-max-width: 290px;

    -fx-pref-height: 148px;
    -fx-min-height: 148px;
    -fx-max-height: 148px;

    -fx-border-radius: 30px;
    -fx-border-width: 2px;
    -fx-border-color: -color-border;

    -fx-padding: 0 0 0 30px;
}

.factory-stat-card-icon {

}

.factory-stat-card-top-text {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}


/* ===================
    Transaction styling
 ===================*/
.transaction-view {
    -fx-padding: 10 0 10 0;
}

.transaction-stat-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 36px;
}

.transaction-stat-card-bottom-text {
    -fx-text-fill: -color-border-light;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.transaction-stat-trades-icon {
    -fx-fill: -color-text;
    -fx-stroke: -color-text;
    -fx-stroke-width: 1px;

    -fx-icon-size: 40px;

    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.transaction-stat-bought-icon {
    -fx-fill: -color-green;
    -fx-stroke: -color-green;
    -fx-stroke-width: 1px;

    -fx-icon-size: 40px;

    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.transaction-stat-sold-icon {
    -fx-fill: -color-red;
    -fx-stroke: -color-red;
    -fx-stroke-width: 1px;

    -fx-icon-size: 40px;

    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}

.transaction-stat-fees-icon {
    -fx-fill: -color-yellow;
    -fx-stroke: -color-yellow;
    -fx-stroke-width: 1px;

    -fx-icon-size: 40px;

    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
}


.transaction-details {
    -fx-pref-height: 667px;
    -fx-max-height: 667px;
    -fx-min-height: 667px;

    -fx-pref-width: 683px;
    -fx-min-width: 683px;
    -fx-max-width: 683px;

    -fx-padding: 20;
}

.transaction-details-title {

}

.transaction-details-ticker {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 40px;
}

.transaction-details-company {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.transaction-details-total {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;
    -fx-padding: 5px;
}

.transaction-details-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.transaction-details-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.transaction-details-separator-horizontal,
.transaction-details-separator-vertical {
    -fx-background-color: -color-text;
}

.transaction-details-separator-horizontal {
    -fx-background-color: -color-border-light;

    -fx-pref-width: 640px;
    -fx-min-width: 640px;
    -fx-max-width: 640px;

    -fx-pref-height: 1px;
    -fx-min-height: 1px;
    -fx-max-height: 1px;
}

.transaction-details-separator-vertical {
    -fx-background-color: -color-border-light;

    -fx-pref-width: 1px;
    -fx-min-width: 1px;
    -fx-max-width: 1px;

    -fx-pref-height: 640px;
    -fx-min-height: 640px;
    -fx-max-height: 640px;
}

.transaction-details-note-icon {
    -fx-fill: -color-yellow;
    -fx-stroke: -color-yellow;

    -fx-icon-size: 25px;
    -fx-stroke-width: 1px;

    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
}

.transaction-details-note-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;
}

.transaction-details-note-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai regular";
    -fx-font-size: 20px;
}

.transaction-details-notebox {
    -fx-padding: 10, 10, 20, 0
}

/* ===================
    PortfolioView styling
 ===================*/

.portfolio-details-price {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24px;
}

.portfolio-details-change {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.portfolio-stat-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 36px;
}

.portfolio-stat-card-bottom-text {
    -fx-text-fill: -color-border-light;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
}

.portfolio-details-stats-grid {
    -fx-hgap: 40px;
    -fx-vgap: 18px;
    -fx-alignment: center;

    -fx-pref-width: 635px;
    -fx-max-width: 635px;

    -fx-pref-height: 200px;
    -fx-max-height: 200px;

}

.portfolio-details-pnl {

}

.portfolio-details-stat-label {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 14px;
}

.portfolio-details-stat-value {
    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24px;
}

.portfolio-details-stock-chart {
    -fx-padding: 0 0 10 0;
}

.separator.separator-details-grey {
    -fx-background-color: transparent;
    -fx-pref-width: 640px;
    -fx-max-width: 640px;

    -fx-padding: 25px 0 0 0;
}

.separator.separator-details-grey .line {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}

/* ===================
    SearchMenu styling
 ===================*/

.search-menu {
    -fx-pref-height: 667px;
    -fx-max-height: 667px;
    -fx-min-height: 667px;

    -fx-pref-width: 683px;
    -fx-min-width: 683px;
    -fx-max-width: 683px;
}

.search-menu-text-field {
    -fx-pref-height: 50px;
    -fx-max-height: 50px;
    -fx-min-height: 50px;

    -fx-pref-width: 610px;
    -fx-min-width: 610px;
    -fx-max-width: 610px;

    -fx-text-fill: -color-text;
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 20px;
    -fx-padding: 0 20 0 20;
}

.search-menu-no-close .search-menu-text-field {
    -fx-pref-width: 650px;
    -fx-min-width: 650px;
    -fx-max-width: 650px;
}


.search-menu-top-bar {
    -fx-spacing: 16px;
}

.search-menu-separator {
    -fx-background-color: -color-border;
    -fx-border-color: transparent;

    -fx-pref-width: 679px;
    -fx-min-width: 679px;
    -fx-max-width: 679px;

    -fx-pref-height: 2px;
    -fx-max-height: 2px;
    -fx-min-height: 2px;

    -fx-padding: 0 10px 0 0;

}

.search-menu-close {
    -fx-fill: -color-text;
    -fx-stroke: -color-text;
    -fx-stroke-width: 1px;

    -fx-icon-size: 22px;

    -fx-pref-width: 22px;
    -fx-min-width: 22px;
    -fx-max-width: 22px;

    -fx-pref-height:22px;
    -fx-min-height: 22px;
    -fx-max-height: 22px;
}

.search-menu-scroll {
    -fx-pref-height: 580px;
    -fx-min-height: 580px;
    -fx-max-height: infinity;

    -fx-pref-width: 650px;
    -fx-min-width: 650px;
    -fx-max-width: 650px;

    -fx-background-color: transparent;
    -fx-border-radius: 30px;
}

.search-menu-scroll .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 30px;
}

.search-menu-scroll .scroll-bar:vertical {
    -fx-pref-width: 20px;
    -fx-background-color: transparent;
    -fx-padding: 0 2px 0 0;
}

.search-menu-scroll .scroll-bar:vertical .track {
    -fx-background-color: -color-border;
    -fx-background-radius: 20px;
    -fx-background-insets: 0 0 20 0;
}

.search-menu-scroll .scroll-bar:vertical .thumb {
    -fx-background-color: -color-yellow;
    -fx-background-radius: 20px;
    -fx-background-insets: 5 5 25 5;
}

.search-menu-scroll .scroll-bar:vertical .thumb:hover {
    -fx-background-color: -color-yellow;
}

.search-menu-scroll .scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #a1a100;
}

.search-menu-scroll .increment-button,
.search-menu-scroll .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.search-menu-scroll .increment-arrow,
.search-menu-scroll .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.search-menu-content {
    -fx-fill: -color-text;
    -fx-stroke: -color-text;
    -fx-stroke-width: 1px;

    -fx-icon-size: 22px;

    -fx-pref-height: 667px;
    -fx-max-height: 667px;
    -fx-min-height: 667px;

    -fx-pref-width: 648px;
    -fx-min-width: 648px;
    -fx-max-width: 648px;

    -fx-padding: 12px 0 0 0;
}