
.dashboard-portfolio {
    -fx-background-radius: 30px;
    -fx-background-color: #F6DA36;
    -fx-pref-width: 476;
    -fx-max-width: 476;
    -fx-pref-height: 563;
    -fx-max-height: 563;
}

.dashboard-portfolio-title {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 32px;
    -fx-text-fill: -color-text-dark;
    -fx-padding: 0 0 0 28;
}

.dashboard-portfolio-symbol {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 32px;
    -fx-text-fill: -color-text-dark;
}

.dashboard-portfolio-subtext {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 16px;
    -fx-text-fill: -color-text-dark;
}

.dashboard-portfolio-amount-shares {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24px;
    -fx-text-fill: -color-text-dark;
}

.dashboard-portfolio-amount-cash {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;
    -fx-text-fill: -color-text-dark;
}

.dashboard-portfolio-diff{
    -fx-pref-width: 61;
    -fx-max-width: 61;
    -fx-pref-height: 20;
    -fx-max-height: 20;
    -fx-background-radius: 13px;
    -fx-background-color: #0B0B0B;

    -fx-font-family: "Almarai Bold";
    -fx-font-size: 16px;
}

.dashboard-portfolio-bottom-text {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24px;
    -fx-text-fill: -color-text-dark;
}

.dashboard-portfolio-return-gain {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;
    -fx-text-fill: -color-green;
}

.dashboard-portfolio-return-loss {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24px;
    -fx-text-fill: -color-red;
}

.separator {
    -fx-background-color: transparent;
    -fx-pref-width: 415;
    -fx-max-width: 415;
}

.separator .line {
    -fx-background-color: black;
    -fx-border-color: black;
}

.separator-grey {
    -fx-background-color: transparent;
    -fx-pref-width: 415;
    -fx-max-width: 415;

}

.separator-grey .line {
    -fx-background-color: #202020;
    -fx-border-color: #202020;
}

.dashboard-transaction-text {
    -fx-font-family: -font-regular;
    -fx-text-fill: -color-text;
    -fx-font-size: 24px;
}

.dashboard-subtext {
    -fx-font-family: -font-regular;
    -fx-text-fill: -color-text;
    -fx-font-size: 20px;
}

.dashboard-transaction-amount {
    -fx-font-family: -font-bold;
    -fx-text-fill: -color-text;
    -fx-font-size: 24px;
}

.filled-circle-green {
    -fx-fill: -color-green;
    -fx-stroke: -color-green;
    -fx-stroke-width: 14px;

    -fx-icon-size: 15px;

    -fx-pref-width: 22px;
    -fx-pref-height: 22px;
}

.filled-circle-red {
    -fx-fill: -color-red;
    -fx-stroke: -color-red;
    -fx-stroke-width: 14px;

    -fx-icon-size: 15px;

    -fx-pref-width: 22px;
    -fx-pref-height: 22px;
}

.dashboard-transaction-window {
    -fx-pref-width: 476px;
    -fx-max-width: 476px;
    -fx-pref-height: 277px;
    -fx-max-height: 277px;
}

.dashboard-title {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 64px;
    -fx-text-fill: -color-yellow;
}

.dashboard-view-button {
    -fx-font-family: "Almarai Bold";
    -fx-text-fill: -color-yellow;
    -fx-font-size: 24px;

    -fx-background-color: transparent;
}

.dashboard-view-button:hover {
    -fx-text-fill: -color-yellow-hover;
}

.dashboard-view-button .ikonli-font-icon {
    -fx-fill: -color-yellow;
    -fx-stroke: -color-yellow;
}

.dashboard-view-button:hover .ikonli-font-icon{
    -fx-fill: -color-yellow-hover;
    -fx-stroke: -color-yellow-hover;
}






.dashboard-movers-gainer {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24;
    -fx-text-fill: -color-green;
}

.dashboard-movers-loser {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24;
    -fx-text-fill: -color-red;
}

.dashboard-movers-title {
    -fx-font-family: "Almarai Bold";
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.dashboard-movers-this-week {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.dashboard-movers-window {
    -fx-pref-width: 476px;
    -fx-max-width: 476px;
    -fx-pref-height: 365px;
    -fx-max-height: 365px;
}






.dashboard-cash-stat-amount {
    -fx-font-family: "Almarai Regular";
    -fx-font-size: 36px;
    -fx-text-fill: white;
}

.dashboard-cash-stat-window {
    -fx-pref-width: 253px;
    -fx-max-width: 253px;
    -fx-pref-height: 113px;
    -fx-max-height: 113px;
}